PORT=3000
SESSION_SECRET=your-session-secret
JWT_SECRET=your-jwt-secret
DEFAULT_USER=demo@example.com
DEFAULT_PASS=demo-password
ACCESS_TOKEN=YOUR_PLATFORM_ACCESS_TOKEN
API_GET_MY_EXERCISES=https://api.platform.hooshtavan.com/v1/api/platform/portal/info-swagger/exercise/me
API_REDIRECT_EXECUTE_EXERCISE=https://api.platform.hooshtavan.com/v1/api/platform/portal/info-swagger/exercise/execute/{exerciseKey}
API_REDIRECT_CREATE_EXERCISE=https://api.platform.hooshtavan.com/v1/api/platform/portal/info-swagger/exercise-redirect/create
API_REDIRECT_MODIFY_EXERCISE=https://api.platform.hooshtavan.com/v1/api/platform/portal/info-swagger/exercise-redirect/{exerciseKey}/modify
API_GET_EXERCISE_IMAGE=https://api.platform.hooshtavan.com/v1/api/platform/portal/info-swagger/exercise/image/{exerciseKey}/{poseId}
DB_PATH=database/database.db
