PORT=3000

# Session
SESSION_SECRET=your-session-secret
JWT_SECRET=woman-life-free

# Database 
DB_PATH=./../database/database.db
DEFAULT_USER=test@demo.com
DEFAULT_PASS=123456

# Environment
NODE_ENV=development


# Portal

# Generate your access token from the https://platform.hemscap.com system and add it to the environment variable below.
ACCESS_TOKEN=you-access-token

API_GET_MY_EXERCISES=https://api.platform.hemscap.com/v1/api/platform/portal/info-swagger/exercise/me

API_GET_EXERCISE_IMAGE=https://api.platform.hemscap.com/v1/api/platform/portal/info-swagger/exercise/get-image-by-pose/{exerciseKey}/{poseId}


API_REDIRECT_CREATE_EXERCISE=https://api.platform.hemscap.com/v1/api/platform/portal/info-swagger/exercise-redirect/create
API_REDIRECT_EXECUTE_EXERCISE=https://api.platform.hemscap.com/v1/api/platform/portal/info-swagger/exercise-redirect/{exerciseKey}/execute
API_REDIRECT_MODIFY_EXERCISE=https://api.platform.hemscap.com/v1//api/platform/portal/info-swagger/exercise-redirect/{exerciseKey}/update
API_BACK_URL=http://localhost:3000/portal/get-my-exercises
API_WEBHOOK=http://localhost:3000/portal/webhook